<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eMAIL — AI Mail Classifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-custom.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row upper">
            <div class="col-sm-3 col-md-2">
                <div class="btn-group">
                    <a href="{{ url_for('testntrain') }}">
                        <button type="button" class="btn btn-primary btn-lg">Train Test n Tune<!-- <span class="caret"></span> -->
                    </button></a>
                    <a href="{{ url_for('download') }}" download> 
                        <button type="button" class="btn btn-primary btn-lg">Download Result
                            </button></a>
                            <!-- 
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="test.html">Testing</a></li>
                        <li><a href="train.html">Training and Tuning</a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-9 col-md-10">
                <a href="{{ url_for('home', category='Transfers') }}" > 
                    <img src="{{ url_for('static', filename='icon.png') }}" class="logo"/>
                </a>
                <div class="pull-right">
                    <!-- <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <hr>
        <div class="email">
            <div class="row">
                <!--left-->
                <aside class="col-sm-3 col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                            <li><a href="{{ url_for('results', category='Transfers') }}"> Transfers </a></li>
                            <li><a href="{{ url_for('results', category='Death') }}"> Death </a></li> 
                            <li><a href="{{ url_for('results', category='Retirements') }}"> Retirements </a></li>
                            <li><a href="{{ url_for('results', category='MDU') }}"> MDU </a></li>
                    </ul>
                    <hr>
                </aside>
                <!--main-->
                <div class="col-sm-9 col-md-10">
                    <!-- tabs --><!-- 
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                        </span>Primary</a></li>
                        <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                            Spam</a></li>
                        <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                        </span></a></li>
                    </ul> -->
                    <!-- tab panes -->
                    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for type, message in messages %}
                                <div class="alert alert-{{ type }}">
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active mail" id="inbox">
                            {% for row in reader %}
                            {% if row['uid'] == uid %}
                                    <h4 class='badge date'>{{ row['Date'] }}</h4> 
                                    <h2 class='subject_in_mail'>{{ row['Subject'] }}</h2>
                                    <h4 class='sender'>From: {{ row['Sender'] }}</h4>
                                    <p class='body'>{{ row['Body_Unformatted'][2:-1] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
