<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Test or Train | emAIl — AI Mail Classifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-custom.css">
</head>
<body>
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <div class="btn-group">
                    <a href="output.html"><button type="button" class="btn btn-primary btn-lg">HOME</button></a>
                </div> 
            </div>
            <div class="col-sm-6 col-md-8"><h1 class="brand">eM<span class="ai">AI</span>L</h1></div>
            <div class="col-sm-3 col-md-2"></div>
        </div>
        <hr style="border-width: 5px;">
    </div>
    <div class="bgc">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6 col-md-6 test-form">
	                <h2>Upload Your Testing Data</h2>
	                <form action="" id="testForm" method="POST" enctype="multipart/form-data">
	                    <label for="testData" form="testForm">Testing Data:</label>
	                    <input id="testData" type="file" name="testingData">
	                    <input type="submit" class="btn btn-success btn-lg" name="submit" value="Test Your Model">
	                </form>
	                <hr style="border-width: 5px;">
	                <h3>
	                	<ul class="details">
	                		<li>For input of the test data, provide a zipped file containing all the emails to be tested.</li>
	                		<li>We advise you to use the recommended hyperparameters for highest accuracy.</li>
	                	</ul>
	                </h3>
	            </div>
	            <div class="col-sm-6 col-md-6 train-form">
	                <h2>Hyperparameters Tuning</h2>
	                <form action="" id="trainForm" method="POST" enctype="multipart/form-data">
	                    <label for="trainData" form="trainForm">Training Data:</label>
	                    <input type="file" name="trainData" id="trainData"><br>
	                	<div>
		                	<img class="img" src="img.jpeg" alt="">
		                </div>
	                	<label for="learnRate" form="trainForm">Learning Rate:</label><br>
	                    <select name="">
	                    	<option>--select--</option>
	                    	<option>1e-5</option>
	                    	<option>1e-4</option>
	                    	<option>0.5e-5</option>
	                    	<option>Custom</option>
	                    </select><br>
	                    <label for="epochs" form="trainForm">Epochs:</label><br>
	                    <select>
	                    	<option>--select--</option>
	                    	<option>10</option>
	                    	<option>5</option>
	                    	<option>15</option>
	                    	<option>Custom</option>
	                    </select><br>
	                    <!-- <label for="algo" form="trainForm">Algorithm:</label><br>
	                    <select name="algo" id="algo">
	                        <option>--select--</option>
	                        <option value="">ADAM (Recommended)</option>
	                        <option value="">RMSProp</option>
	                        <option value="">SGD</option>
	                    </select><br> -->
	                    <label for="model" form="trainForm">Model Architecture:</label><br>
	                    <select name="model" id="model">
	                        <option>--select--</option>
	                        <option value="">XLNet (Recommended)</option>
	                        <option value="">T5</option>
	                        <option value="">BERT</option>
	                        <option value="">GPT2</option>
	                    </select>
	                    <input type="submit" class="btn btn-success btn-lg" name="submit" value="Retrain Your Model">
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>